{% extends "base.html" %}

{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="omacontainer">
    <article>
        <h1>{{ page.heading }}</h1>
        <p>{{ page.body| richtext }}</p>
        <a href={{ page.login_link }}><button>{{ page.login_text }}</button></a> 
        <a href={{ page.register_link }}><p>{{ page.register_text }}</p></a>
    </article>
</div>
{% for post in page.get_children %}
<div class="herocontainer">
    <article>
        <h1>{{ post.specific.heroHeading }}</h1>
        <p>{{ post.specific.heroBody| richtext }}</p>
    </article>
</div>
{% endfor %}
{% endblock %}