*~
*.pyc
__pycache__
db.sqlite3
*.mo
*.sqlite
media/
.django_secret
/local_settings.py
/venv*
/.idea
/.vscode
/*.sublime-*
.DS_Store
.coverage
htmlcov
.cache
perf*csv
/*hack*py
*.egg-info
/build
/dist
/src
/node_modules
/components
/static
/assets/bundles
/webpack.config.js
/yarn-error.log
/webpack-stats.json
/.pytest_cache
/omahelsinki-datadump.json
/package-lock.json
/tmp
