DEBUG=1
ALLOWED_HOSTS=*
APPLY_MIGRATIONS=1
LOAD_DATADUMP=1
CREATE_SUPERUSER=1
LOAD_GEODATA=0

TUNNISTAMO_BASE_URL=http://tunnistamo-backend:8000
SOCIAL_AUTH_TUNNISTAMO_KEY=http://tunnistamo-backend:8000/project
SOCIAL_AUTH_TUNNISTAMO_SECRET=<ENTER TUNNISTAMO CLIENT SECRET HERE>
SOCIAL_AUTH_TUNNISTAMO_OIDC_ENDPOINT=http://tunnistamo-backend:8000/openid
PROFILE_API_URL=http://tunnistamo-backend:8000/v1
