{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block extra_head %}
    <script>
        window.LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
        window.API_TOKENS = {
        {% if request.session.api_tokens %}{% for api, token in request.session.api_tokens.items %}
          "{{ api }}": "{{ token }}"{% if not forloop.last %},{% endif %}
        {% endfor %}{% endif %}
        };
    </script>
{% endblock %}

{% block content %}
    <div id="react-app"></div>
    {% render_bundle 'main' %}
{% endblock %}
