/* custom variables */

$omaWrapperPadding: 4rem 0 8rem;

// Make svg icons pretty
.icon {
  /* Lets the icon inherit the text color. */
  fill: currentColor;

  /* Inherit the text’s size too. Also allows sizing
     the icon by changing its font-size. */
  width: 1em !important;
  height: 1em !important;

  /* Nice visual alignment for icons alongside text.
     (I got a few questions about this and: with most
     fonts and styles, this works better than just
     vertical-align:middle. Try it and see what you
     like best. */
  vertical-align: -0.1em;

  /* Paths and strokes that overflow the viewBox can
     show in IE. If you use normalize.css, it already
     sets this. */
  overflow: hidden;
}

.navbar-brand {
  svg {
    width: 77px;
    height: 36px;
  }
}

.service-navbar {
  background-color: $brand-light;
}

.content {
  margin-bottom: $spacer * 2;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $spacer * 2;
  }

  a {
    text-decoration: underline;
  }
}

.hero-section {
  position: relative;
  min-height: 20rem;
  background-position: center;
  background-size: cover;
  background-color: $hel-copper;
  padding: ($spacer * 3) 1rem ($spacer * 8) 1rem;

  .container {
    z-index: 2;
  }

  a {
    color: $hel-bus;
  }

  @include media-breakpoint-up(sm) {
    min-height: 24rem;
  }

  @include media-breakpoint-up(md) {
    min-height: 28rem;
  }

  @include media-breakpoint-up(lg) {
    min-height: 32rem;
  }
}

.hero-content {
  padding: ($spacer * 2) 0 0;
  //text-shadow: 1px 1px 4px rgba(#000, 0.1);
  position: relative;
  z-index: 1;
  color: $black;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $hel-bus;
  }

  @include media-breakpoint-up(md) {
    h1 {
      font-size: 3rem;
      line-height: 1;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: ($spacer * 3) 0 0;
    h1 {
      font-size: 4rem;
      line-height: 1;
    }
  }
}

.hero-image-wrapper {
  position: relative;
  height: 100%;
  margin-bottom: $spacer * -12;
  margin-top: $spacer * 2;
  text-align: center;

  @include media-breakpoint-up(md) {
    min-height: $spacer * 22;
  }
}

.hero-image--floating {
  position: relative;
  z-index: 1;
  max-width: 360px;
  max-height: $spacer * 22;

  @include media-breakpoint-up(md) {
    position: absolute;
    right: 0;
    bottom: $spacer * -12;
    max-width: 280px;
    max-height: $spacer * 30;
  }

  @include media-breakpoint-up(lg) {
    max-width: 360px;
    max-height: $spacer * 36;
  }
}

/* Site footer */

.site-footer {
  position: relative;
  min-height: 14em;
  clear: both;
  background-color: $hel-coat;
  color: #ffffff;
  padding: ($spacer * 8) 0;

  &::before {
    content: ' ';
    @include koro('pulse', $hel-coat, 400);
    width: 100%;
    height: $spacer * 3;
    position: absolute;
    top: $spacer * -3;
  }

  @include media-breakpoint-down(sm) {
    &::before {
      @include koro('pulse', $hel-coat, 100);
    }
  }
}

.site-footer a {
  color: #fff;
}

.footer-branding .footer-logo {
  margin: 0 auto 1em;
  max-width: 8em;
}

.site-footer .footer-links {
  list-style: none;
  padding-left: 0;
}

.footer-column {
  text-align: center;
}

.site-footer-small-print {
  margin-top: 2em;
  //text-align: right;
}

.map-wrapper {
  overflow: auto;

  margin: 2rem 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.small-print-nav {
  color: #ebedf1;
  font-size: 14px;
}

.subnav-section {
  position: relative;
  background-color: $hel-fog;
  padding: ($spacer * 3) 0 $spacer;
}

.sub-content-section {
  position: relative;
  background-color: $hel-silver;
  padding: ($spacer * 4) 0 ($spacer * 8);
}

.section-header {
  margin-bottom: $spacer * 2;
}

.section--intro {
  position: relative;
  background-color: $white;
  padding: ($spacer * 8) 0;

  &::before {
    content: ' ';
    @include koro('beat', $white, 500);
    width: 100%;
    height: $spacer * 4.5;
    position: absolute;
    top: $spacer * -4.5;
  }
}

.section--cards {
  position: relative;
  background-color: $brand-dark;
  padding: ($spacer * 5) 0 ($spacer * 8);

  .section-header {
    color: $white;
  }

  &::before {
    content: ' ';
    @include koro('beat', $brand-dark, 500);
    width: 100%;
    height: $spacer * 4.5;
    position: absolute;
    top: $spacer * -4.5;
  }
}

.section--faq {
  position: relative;
  background-color: $white;
  padding: ($spacer * 5) 0 ($spacer * 8);
  color: $brand-dark;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $brand-dark;
  }

  &::before {
    content: ' ';
    @include koro('beat', $white, 300);
    width: 100%;
    height: $spacer * 3;
    position: absolute;
    top: $spacer * -3;
  }
}

.section--services {
  position: relative;
  background-color: $white;
  padding: ($spacer * 5) 0 ($spacer * 8);

  &::before {
    content: ' ';
    @include koro('beat', $white, 400);
    width: 100%;
    height: $spacer * 4;
    position: absolute;
    top: $spacer * -4;
  }
}

.map-section {
  position: relative;
  background-color: $brand-dark;
  padding: ($spacer * 5) 0 ($spacer * 8);
  color: $white;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }

  &::before {
    content: ' ';
    @include koro('pulse', $brand-dark, 400);
    width: 100%;
    height: $spacer * 3;
    position: absolute;
    top: $spacer * -3;
  }
}

.calculator-section {
  position: relative;
  background-color: $brand-light;
  padding: ($spacer * 5) 0 ($spacer * 8);

  &::before {
    content: ' ';
    @include koro('pulse', $brand-light, 400);
    width: 100%;
    height: $spacer * 3;
    position: absolute;
    top: $spacer * -3;
  }
}

.feedback-bubble {
  position: fixed;
  bottom: 8px;
  right: 8px;
  z-index: 1040;
  width: 80px;
  height: 80px;
  background-color: $hel-suomenlinna;
  border-radius: 50% 50% 0 50%;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  box-shadow: 2px 2px 2px 0 rgba(#121114, 0.25);

  span {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1;
    z-index: 1042;
  }

  &:hover {
    color: $white;
    background-color: darken($hel-suomenlinna, 10%);
    text-decoration: none;
  }

  @include media-breakpoint-down(sm) {
    width: 50px;
    height: 50px;

    span {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background-image: url("data:image/svg+xml,%3Csvg id='_x33_fe12ba8-7db0-4ffe-8486-a05d0cf9dec4' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cstyle%3E.st0%7Bfill:%23fff%7D%3C/style%3E%3Cpath class='st0' d='M380.7 128.7c28.4-.3 51.7 22.4 52 50.8v125.9c0 30.1-21.9 51.9-52 51.9h-20.8c-18.5-.1-36.7 5.5-52 15.9-15.3-10.4-33.5-15.9-52-15.9H131.3c-30.1 0-52-21.8-52-51.9V180.6c-.3-28.4 22.4-51.7 50.8-52h1.2l249.4.1m0-31.2H131.3c-46.5 0-83.1 36.6-83.1 83.1v124.7c0 47.1 35.8 83.1 83.1 83.1H256c16.3 0 31.9 6.4 43.4 17.9l8.5 8.5 8.5-8.5c11.5-11.5 27.1-18 43.4-17.9h20.8c47.3 0 83.1-36 83.1-83.1V180.6c.1-46.5-36.5-83.1-83-83.1z'/%3E%3Cpath class='st0' d='M135.4 185.8h241.1V217H135.4zM135.4 269h241.1v31.2H135.4z'/%3E%3C/svg%3E");
      background-size: 70%;
      background-position: center;
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
    }
  }
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.user-admin-header {
  .user-avatar {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto 24px auto;
  }
  h3 {
    text-align: center;
    margin-bottom: 48px;
  }
}
#areamap {
  .counties {
    fill: $hel-gold;
  }

  .counties :hover {
    fill: $hel-summer;
  }

  .county-borders {
    fill: none;
    stroke: $hel-gold;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
  }
}

.service-card {
  height: 100%;
  margin-bottom: $spacer * 3;
  border-bottom: $spacer solid $brand-dark;
}

.oma-faq {
  color: $black;

  a {
    color: $black;
  }
}

.oma-admin-section {
  margin-bottom: $spacer * 4;
  h2 {
    //margin-bottom: $spacer * 2;
  }
}

.accordion-btn {
  font-weight: inherit;
  text-align: left;
  white-space: normal;

  &:before {
    content: '';
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    float: right;
    background-size: 100% auto;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath d='M256 285l-88.4-88.4-30.4 30.4 88.4 88.4 30.4 30.4 30.4-30.4 88.4-88.4-30.4-30.4z'/%3E%3C/svg%3E");
  }

  &:hover {
    &:before {
      text-decoration: none;
    }
  }
}

.accordion-btn.collapsed {
  &:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath d='M289 251l-88.4 88.4 30.4 30.4 88.4-88.4 30.4-30.4-30.4-30.4-88.4-88.4-30.4 30.4z'/%3E%3C/svg%3E");
  }
}

// Tunnistamo styles

#loginModal .modal-body {
  background-color: $hel-fog;
}

.content-container {
  margin-top: $spacer;
}

.content-card {
  padding: $spacer;
  background-color: $white;
  box-shadow: 3px 3px 3px rgba($black, 0.5);
  @extend .clearfix;

  header {
    @extend .clearfix;

    .service-title {
      margin-top: 0;
      font-size: 24px;
    }

    .logo {
      height: 3.5em;
      margin: -0.5em -0.5em 0 0;
      float: right;
    }
  }
}

.login-method {
  margin-bottom: $spacer / 2;

  .short-description {
    margin-top: 6px;
  }

  .ext-icon img {
    max-height: 24px;
    max-width: 24px;
  }
}

.login-method__primary {
  border-bottom: 1px solid $brand-dark;
  border-top: 1px solid $brand-dark;
  padding-top: 1em;
}

.featured {
  .disclaimer {
    color: $hel-bus;
    margin-bottom: 0;
  }
}

.card-body {
  padding-top: 1rem;
}

.services-amount {
  color: $hel-bus;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.development-banner {
  @include media-breakpoint-down(xs) {
    p {
      margin-right: 20px;
      width: 92%;
      font-size: 17px;
    }
  }

  background: #f5a3c7;
  padding: 20px 10px 10px 10px;
  margin-bottom: 0;
  text-align: center;
  font-size: 20px;
}

.cta-register {
  background: $hel-copper;
  margin-bottom: 40px;
  padding-bottom: 30px;
  padding-top: 30px;

  a.help-link {
    span {
      width: 90%;
    }

  }


  .left-icon {
    position: absolute;
    transform: translateX(-50%);
    .hel-icon {
      background: $hel-bus;
      border-radius: 50%;
      border: 2px solid $white;
      color: $white;
      display: inline-block;
      font-size: 3rem;
      padding: 13px;
    }
  }
  a {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-left: 1rem;
    font-size: 2.75rem;
    font-weight: bold;
    span {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

.service-wrapper {
  margin-bottom: 30px;
  .card {
    height: 100%;
  }
}

.profile-picture__picture {
  margin-bottom: 20px;
  img {
    max-width: 135px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}

.cropButton {
  margin-top: 10px;
}

//History tab
.history-view {
  table thead th {
    border-bottom: none;
  }
  table td {
    border-top: none;
  }
  table th {
    border-top: none;
  }
  table tr {
    height: 75px;
  }
  .arrow-down {
    margin-left: -8px;
  }
  .arrow-icon {
    cursor: pointer;
  }
  .page-item {
    margin-right: 10px;
    box-shadow: 0 3px 10px;
  }
  .page-link {
    padding: 13px;
  }
  .btn {
    padding: 10px;
    background-color: #0072c6;
    border: none;
    box-shadow: none !important;
  }
}

// Greetings styles

.greetings-container {
  display: flex;
  justify-content: center;
  background-color: #00d7a7;
  padding: 2rem 0 2rem 0;

  .greetings-icon-container {
    width: 70px;
    height: 70px;
    left: calc(50% - 25px);
    background: #0000bf;
    border-radius: 50%;
    padding: 20px;
    svg {
      height: 30px !important;
      width: 30px !important;
      color: #ffffff;
    }
  }
  .greetings-text-container {
    align-items: center;
    padding-left: 20px;
    .greetings-text {
      align-items: center;
      vertical-align: center;
      padding-top: 15px;
      color: #0000bf;
    }
  }
}

.greetings-user-image img {
  width: 70px;
  border-radius: 50%;
}

.service-view {
  h2 {
    margin-bottom: 20px;
  }
}

// Tables

.react-bootstrap-table {
  th.sortable .arrow-icon {
    white-space: nowrap;
  }
}
