$hel-copper:        #00d7a7;
$hel-bus:           #0000bf;
$hel-coat:          #0072c6;
$hel-fog:           #9fc9eb;
$hel-metro:         #fd4f00;
$hel-brick:         #bd2719;
$hel-suomenlinna:   #f5a3c7;
$hel-engel:         #ffe977;
$hel-tram:          #009246;
$hel-summer:        #ffc61e;
$hel-silver:        #dedfe1;
$hel-gold:          #c2a251;

// Project specific
$hel-oma:           #7DE9CC;

// Brand monochromes
// Not brand loyal $hel-black (#000000) –optimized for digital use.
$hel-black:         #343434;
$hel-dark:          #525a65;
$hel-gray:          #abb2bd;
$hel-light:         #ebedf1;
$hel-white:         #ffffff;

// Helper colors
$red:     #dc3545 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$cyan:    #17a2b8 !default;

// Map the variables to the values

// Application color mappings:
$theme-colors: (
  primary: $hel-black,
  secondary: $hel-coat,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $hel-light,
  dark: $hel-dark,
  white: $hel-white,
  oma: $hel-oma,
);