@import "node_modules/open-city-design/src/scss/helsinki/_colors";

.omacontainer {
    background: url(https://source.unsplash.com/collection/145103/1600x900);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 45vh;
    color: $hel-white;

    article {
        width: 50%;
        margin: auto;
        text-align: justify;
        padding-top: 7%;
        padding-bottom: 7%;
    }

    h1 {
        font-size: 5rem;
        color: $hel-white;
    }

    p {
        font-size: 1.2rem;
        color: $hel-white;
    }

    a {
        text-decoration: none;
    }
    
    button {
        width: 20rem;
        line-height: 3rem;
        background-color: transparent;
        border: 1px solid $hel-white;
        color: $hel-white;
        outline: none;
        cursor: pointer;
        font-size: 1.2rem;
        margin: 0 0 10px 0;
    }

    @media all and (max-width:1280px) {
        height: 55vh;
        article {
            padding-top: 5%;
            padding-bottom: 5%;
        }
        button {
            font-size: 1rem;
            border: 1px solid $hel-white;
            line-height: 2.5rem;
        }
        p {
            font-size: 1rem;
        }
    }

    @media all and (max-width: 1024px) and (min-width: 568px) {
        height: 50vh;
        article {
            width: 50%;
            padding-top: 5%;
            height: 50vh;
        }
        h1 {
            font-size: 2.5rem;
        }
        button {
            font-size: 1rem;
            border: 1px solid $hel-white;
            line-height: 2.5rem;
        }
        p {
            font-size: 1rem;
        }
    }

    @media all and (max-width:414px) and (min-width: 0px){
        height: 50vh;
        article {
            width: 90%;
            padding-top: 15%;
            padding-bottom: 15%;
        }
        h1 {
            font-size: 2.5rem;
        }
        button {
            font-size: 1rem;
            border: 1px solid $hel-white;
            line-height: 2.5rem;
        }
        p {
            font-size: 1rem;
        }
    }

}

