.interests {
  &__vittu {
    background: red !important;
    color: green;
    font-size: 32px;
  }

  &__subject-list {
    background: green !important;
    font-size: 58px;
    color: blue;

    .subject {
      color: black;
      border: 1px solid black;

      padding: 1rem;
      margin: 1rem;
    }
    .selected {
      color: white;
      border: none;
      background: $hel-bus;
    }
  }
}
