html, body {
  min-height: 100%;
}

body {
  position: relative;
}

.oma-tabs {
  padding-top: 30px;
  padding-bottom: $spacer * 2;
  background: $hel-copper;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: auto hidden;
  width: 100vw;
  max-width: 100%;
  border: none;

  .nav-link {
    border: none;
    padding: .5rem;

    span {
      color: $hel-bus;
      font-weight: 500;
    }
    &:hover {
      cursor: pointer;
      span {
        color: darken($color: $hel-bus, $amount: 10%);
      }
    }
    &.active {
      background: transparent;
      border-radius: 0;
      position: relative;

      svg {
        content: "";
        display: block;
        position: absolute;
        bottom: $spacer * -2.1;
        width: $spacer * 3;
        height: $spacer * 2;
        left: 50%;
        transform: translate(-50%,0);
        background-size: 100% auto;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, sm)){
  .oma-tabs {
    .nav-link {
      padding: .5rem 1rem;
    }
  }
}

.oma-tab-content {
  padding: $omaWrapperPadding;
}

.oma-tab-container {
  background: $white;
}
