@import 'OnboardingSteps/Welcome';
@import 'OnboardingSteps/StepButtons';
@import 'OnboardingSteps/PersonalInformation';
@import 'OnboardingSteps/Interest';
@import 'OnboardingSteps/Settings';

.oma-onboarding {
    &-container {
        justify-content: center;
        padding: $omaWrapperPadding;
    }

    &-wrapper {
        height: inherit;
        width: inherit;
        display: flex;
    }

    .user-icon {
        position: absolute;
        padding: 10px;
        top: -40px;
        width: 35px;
        height: 35px;
        left: calc(50% - 25px);
        border-radius: 50%;
        background-color: $hel-bus;
        svg {
            height: 15px !important;
            width: 15px !important;
            color: $hel-white;
        }
    }

    &-steps {
        background-color: $hel-white;
        h3 {
            margin-bottom: 2rem;
        }
    }


    
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            margin: 0;
        }
        strong {
            margin-left: 10px;
        }
        margin-bottom: 3rem;
    }

    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
}

@media (min-width: map-get($grid-breakpoints, sm)){
  .oma-onboarding {
    &-wrapper {
      background-color: $hel-fog;
    }

    .user-icon {
      position: absolute;
      padding: 20px;
      top: -35px;
      width: 70px;
      height: 70px;
      left: calc(50% - 25px);
      border-radius: 50%;
      background-color: $hel-bus;
      svg {
        height: 30px !important;
        width: 30px !important;
        color: $hel-white;
      }
    }

    &-steps {
      padding: 3rem;
    }
  }
}
