.react-bootstrap-table-pagination-list {
  li.page-item {
    box-shadow: none;
    margin-right: 0;
  }
}

.react-bs-table-sizePerPage-dropdown {
  ul.dropdown-menu li {
    padding: 0;

    a {
      display: block;
      padding: 0.25rem 1.5rem;
    }
  }
}