.oma-password-strength {
    padding: 2rem 0.5rem;
    &.strength- {
        &0 {
            background-color: $hel-brick;
        }
        &1 {
            background-color: $hel-metro;
        }
        &2 {
            background-color: $hel-engel;
        }
        &3 {
            background-color: $hel-copper;
        }
        &4 {
            background-color: $hel-tram;
        }
    }
}